In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.model_selection import train_test_split
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import EasyEnsembleClassifier

In [5]:
import psycopg2 as pg
import pandas.io.sql as psql
import requests
import pymysql 
from sqlalchemy import create_engine
from config import user
from config import password


db_string = f"postgresql://postgres:{password}@datastroke.c326vl9oo2i8.us-east-1.rds.amazonaws.com:5432/stroke_db"

In [6]:
engine = create_engine(db_string)
stroke_df = pd.read_sql_query("SELECT * FROM stroke_clean",engine)
stroke_df.drop('ID', inplace=True, axis=1)
stroke_df.head()

,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,0
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,0
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,0
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,0
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,0

# Split data into Training and Testing

In [7]:
# Create our features
X = stroke_df.drop("Stroke", axis=1)
X = pd.get_dummies(X)

# Create our target
y = stroke_df['Stroke']

In [8]:
X.describe()

,Age,Hypertension,HeartDisease,Glucose,BMI,Gender_Female,Gender_Male,EverMarried_No,EverMarried_Yes,Work_Govt_job,Work_Never_worked,Work_Private,Work_Self-employed,Work_children,Residence_Rural,Residence_Urban,Smoking_Unknown,Smoking_formerly smoked,Smoking_never smoked,Smoking_smokes
count,4908.000000,4908.000000,4908.000000,4908.000000,4908.00000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000
mean,42.868989,0.091891,0.049511,105.297402,28.89456,0.590261,0.409739,0.347188,0.652812,0.128362,0.004482,0.572535,0.157905,0.136716,0.492665,0.507335,0.302160,0.170334,0.377343,0.150163
std,22.555878,0.288901,0.216954,44.425550,7.85432,0.491836,0.491836,0.476125,0.476125,0.334526,0.066808,0.494761,0.364689,0.343582,0.499997,0.499997,0.459241,0.375964,0.484771,0.357268
min,0.000000,0.000000,0.000000,55.120000,10.30000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,77.067500,23.50000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,44.000000,0.000000,0.000000,91.680000,28.10000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,60.000000,0.000000,0.000000,113.495000,33.10000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.60000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Check the balance of our target values
y.value_counts()

1    4699
0     209
Name: Stroke, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

# Ensemble Learners

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
Balance_random_forest = BalancedRandomForestClassifier(n_estimators = 100)
Balance_random_forest.fit(X_train, y_train)

BalancedRandomForestClassifier()

In [12]:
# Calculated the balanced accuracy score
y_pred = Balance_random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7639279869067104

In [13]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[ 44,   8],
       [374, 801]])

In [14]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.11      0.85      0.68      0.19      0.76      0.59        52
          1       0.99      0.68      0.85      0.81      0.76      0.57      1175

avg / total       0.95      0.69      0.84      0.78      0.76      0.57      1227

In [15]:
# List the features sorted in descending order by feature importance
featureNames = X.columns
sorted(zip(Balance_random_forest.feature_importances_, X.columns), reverse=True)

[(0.3437345093098651, 'Age'),
 (0.17943801772368365, 'Glucose'),
 (0.15898791432820408, 'BMI'),
 (0.03698819929849662, 'Hypertension'),
 (0.028540670790146234, 'HeartDisease'),
 (0.023301334370413103, 'EverMarried_No'),
 (0.02296811982528126, 'EverMarried_Yes'),
 (0.022617393463835872, 'Work_Self-employed'),
 (0.021760492691817977, 'Smoking_never smoked'),
 (0.01834123396530318, 'Residence_Rural'),
 (0.017947665060484338, 'Work_Private'),
 (0.017431067848984315, 'Work_Govt_job'),
 (0.017159104446653004, 'Smoking_Unknown'),
 (0.01674570697757629, 'Smoking_smokes'),
 (0.016657025792046122, 'Smoking_formerly smoked'),
 (0.016089121937745452, 'Residence_Urban'),
 (0.015974089680454107, 'Gender_Female'),
 (0.014582790772288936, 'Gender_Male'),
 (0.01056563921136212, 'Work_children'),
 (0.00016990250535819636, 'Work_Never_worked')]

In [17]:
prediction_results = {"y_test": y_test,"y_pred": y_pred}
prediction_results = pd.DataFrame(prediction_results)
prediction_results

      y_test  y_pred
1555       1       0
287        1       1
3645       1       1
293        1       1
3308       1       1
...      ...     ...
924        1       1
3728       1       0
3651       1       1
3391       1       1
4869       1       0

[1227 rows x 2 columns]

In [18]:
prediction_results.index.name = 'id'
prediction_results

      y_test  y_pred
id
1555       1       0
287        1       1
3645       1       1
293        1       1
3308       1       1
...      ...     ...
924        1       1
3728       1       0
3651       1       1
3391       1       1
4869       1       0

[1227 rows x 2 columns]

In [19]:
new_path = "Resources/prediction_results.csv"
prediction_results.to_csv(new_path, index=True)

In [20]:
prediction_results.to_sql(name='prediction_results', con=engine, if_exists='replace')

# Easy Ensemble AdaBoost Classifier

In [21]:
# Train the EasyEnsembleClassifier
easy_ensemble = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy_ensemble.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [22]:
# Calculated the balanced accuracy score
y_pred = easy_ensemble.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7330360065466448

In [23]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[ 43,   9],
       [424, 751]])

In [24]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.09      0.83      0.64      0.17      0.73      0.54        52
          1       0.99      0.64      0.83      0.78      0.73      0.52      1175

avg / total       0.95      0.65      0.82      0.75      0.73      0.52      1227

In [25]:
d_2 = {"y_test": y_test,"y_pred": y_pred}
df_2 = pd.DataFrame(d_2)
df_2

      y_test  y_pred
id
1555       1       0
287        1       1
3645       1       0
293        1       1
3308       1       1
...      ...     ...
924        1       1
3728       1       0
3651       1       1
3391       1       1
4869       1       0

[1227 rows x 2 columns]