In [1]:
# Import dependencies.
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Load cleaned stroke dataset
file_path = "Resources/stroke_cleaned.csv"
stroke_df = pd.read_csv(file_path)

# Change Hypertension values from 0/1 to strings
stroke_df['Hypertension'] = stroke_df['Hypertension'].replace([0,1],['no hypertension','hypertension'])
# Change Heart Disease values from 0/1 to strings
stroke_df['HeartDisease'] = stroke_df['HeartDisease'].replace([0,1],['no heart disease','heart disease'])
# Change Stroke values from 0/1 to strings
stroke_df['Stroke'] = stroke_df['Stroke'].replace([0,1],['stroke','no stroke'])

stroke_df

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,9046,Male,67.0,no hypertension,heart disease,Yes,Private,Urban,228.69,36.6,formerly smoked,stroke
1,31112,Male,80.0,no hypertension,heart disease,Yes,Private,Rural,105.92,32.5,never smoked,stroke
2,60182,Female,49.0,no hypertension,no heart disease,Yes,Private,Urban,171.23,34.4,smokes,stroke
3,1665,Female,79.0,hypertension,no heart disease,Yes,Self-employed,Rural,174.12,24.0,never smoked,stroke
4,56669,Male,81.0,no hypertension,no heart disease,Yes,Private,Urban,186.21,29.0,formerly smoked,stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
4903,14180,Female,13.0,no hypertension,no heart disease,No,children,Rural,103.08,18.6,Unknown,no stroke
4904,44873,Female,81.0,no hypertension,no heart disease,Yes,Self-employed,Urban,125.20,40.0,never smoked,no stroke
4905,19723,Female,35.0,no hypertension,no heart disease,Yes,Self-employed,Rural,82.99,30.6,never smoked,no stroke
4906,37544,Male,51.0,no hypertension,no heart disease,Yes,Private,Rural,166.29,25.6,formerly smoked,no stroke
4907,44679,Female,44.0,no hypertension,no heart disease,Yes,Govt_job,Urban,85.28,26.2,Unknown,no stroke

In [3]:
# Create DataFrame of people with strokes
stroke_yes = stroke_df[stroke_df.Stroke == "stroke"]

stroke_yes

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,9046,Male,67.0,no hypertension,heart disease,Yes,Private,Urban,228.69,36.6,formerly smoked,stroke
1,31112,Male,80.0,no hypertension,heart disease,Yes,Private,Rural,105.92,32.5,never smoked,stroke
2,60182,Female,49.0,no hypertension,no heart disease,Yes,Private,Urban,171.23,34.4,smokes,stroke
3,1665,Female,79.0,hypertension,no heart disease,Yes,Self-employed,Rural,174.12,24.0,never smoked,stroke
4,56669,Male,81.0,no hypertension,no heart disease,Yes,Private,Urban,186.21,29.0,formerly smoked,stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
204,40460,Female,68.0,hypertension,heart disease,Yes,Private,Urban,247.51,40.5,formerly smoked,stroke
205,17739,Male,57.0,no hypertension,no heart disease,Yes,Private,Rural,84.96,36.7,Unknown,stroke
206,49669,Female,14.0,no hypertension,no heart disease,No,children,Rural,57.93,30.9,Unknown,stroke
207,27153,Female,75.0,no hypertension,no heart disease,Yes,Self-employed,Rural,78.80,29.3,formerly smoked,stroke
208,43424,Female,78.0,no hypertension,no heart disease,Yes,Private,Rural,78.81,19.6,Unknown,stroke

In [4]:
# Create DataFrame of people without strokes
stroke_no = stroke_df[stroke_df.Stroke == "no stroke"]

stroke_no

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
209,30669,Male,3.0,no hypertension,no heart disease,No,children,Rural,95.12,18.0,Unknown,no stroke
210,30468,Male,58.0,hypertension,no heart disease,Yes,Private,Urban,87.96,39.2,never smoked,no stroke
211,16523,Female,8.0,no hypertension,no heart disease,No,Private,Urban,110.89,17.6,Unknown,no stroke
212,56543,Female,70.0,no hypertension,no heart disease,Yes,Private,Rural,69.04,35.9,formerly smoked,no stroke
213,46136,Male,14.0,no hypertension,no heart disease,No,Never_worked,Rural,161.28,19.1,Unknown,no stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
4903,14180,Female,13.0,no hypertension,no heart disease,No,children,Rural,103.08,18.6,Unknown,no stroke
4904,44873,Female,81.0,no hypertension,no heart disease,Yes,Self-employed,Urban,125.20,40.0,never smoked,no stroke
4905,19723,Female,35.0,no hypertension,no heart disease,Yes,Self-employed,Rural,82.99,30.6,never smoked,no stroke
4906,37544,Male,51.0,no hypertension,no heart disease,Yes,Private,Rural,166.29,25.6,formerly smoked,no stroke
4907,44679,Female,44.0,no hypertension,no heart disease,Yes,Govt_job,Urban,85.28,26.2,Unknown,no stroke

In [5]:
# Query Gender + Stroke
stroke_yes["Gender"].value_counts()

Female    120
Male       89
Name: Gender, dtype: int64

In [6]:
# Query Gender + No Stroke
stroke_no["Gender"].value_counts()

Female    2777
Male      1922
Name: Gender, dtype: int64

In [7]:
# Query Age + Stroke
stroke_yes['Age'].value_counts(bins=[0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,83])

(75.0, 83.0]     80
(55.0, 60.0]     27
(65.0, 70.0]     27
(70.0, 75.0]     24
(50.0, 55.0]     15
(60.0, 65.0]     15
(45.0, 50.0]     10
(40.0, 45.0]      5
(35.0, 40.0]      4
(10.0, 15.0]      1
(30.0, 35.0]      1
(-0.001, 5.0]     0
(5.0, 10.0]       0
(15.0, 20.0]      0
(20.0, 25.0]      0
(25.0, 30.0]      0
Name: Age, dtype: int64

In [8]:
# Query Age + No Stroke
stroke_no['Age'].value_counts(bins=[0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,83])

(50.0, 55.0]     403
(40.0, 45.0]     358
(75.0, 83.0]     351
(55.0, 60.0]     347
(45.0, 50.0]     343
(35.0, 40.0]     331
(30.0, 35.0]     312
(-0.001, 5.0]    311
(60.0, 65.0]     309
(15.0, 20.0]     273
(25.0, 30.0]     271
(20.0, 25.0]     264
(10.0, 15.0]     233
(65.0, 70.0]     213
(70.0, 75.0]     198
(5.0, 10.0]      182
Name: Age, dtype: int64

In [9]:
# Query Hypertension + Stroke
stroke_yes["Hypertension"].value_counts()

no hypertension    149
hypertension        60
Name: Hypertension, dtype: int64

In [10]:
# Query Hypertension + No Stroke
stroke_no["Hypertension"].value_counts()

no hypertension    4308
hypertension        391
Name: Hypertension, dtype: int64

In [11]:
# Query Heart Disease + Stroke
stroke_yes["HeartDisease"].value_counts()

no heart disease    169
heart disease        40
Name: HeartDisease, dtype: int64

In [12]:
# Query Heart Disease + No Stroke
stroke_no["HeartDisease"].value_counts()

no heart disease    4496
heart disease        203
Name: HeartDisease, dtype: int64

In [13]:
# Query Ever Married + Stroke
stroke_yes["EverMarried"].value_counts()

Yes    186
No      23
Name: EverMarried, dtype: int64

In [14]:
# Query Ever Married + No Stroke
stroke_no["EverMarried"].value_counts()

Yes    3018
No     1681
Name: EverMarried, dtype: int64

In [15]:
# Query Work + Stroke
stroke_yes["Work"].value_counts()

Private          127
Self-employed     53
Govt_job          28
children           1
Name: Work, dtype: int64

In [16]:
# Query Work + No Stroke
stroke_no["Work"].value_counts()

Private          2683
Self-employed     722
children          670
Govt_job          602
Never_worked       22
Name: Work, dtype: int64

In [17]:
# Query Residence + Stroke
stroke_yes["Residence"].value_counts()

Urban    109
Rural    100
Name: Residence, dtype: int64

In [18]:
# Query Residence + No Stroke
stroke_no["Residence"].value_counts()

Urban    2381
Rural    2318
Name: Residence, dtype: int64

In [19]:
# Query Glucose + Stroke
stroke_yes["Glucose"].value_counts(bins = [50,75,100,125,150,175,200,225,250])

(75.0, 100.0]     55
(49.999, 75.0]    38
(100.0, 125.0]    29
(200.0, 225.0]    28
(175.0, 200.0]    22
(225.0, 250.0]    16
(125.0, 150.0]    10
(150.0, 175.0]     6
Name: Glucose, dtype: int64

In [20]:
# Query Glucose + No Stroke
stroke_no["Glucose"].value_counts(bins = [50,75,100,125,150,175,200,225,250])

(75.0, 100.0]     1892
(49.999, 75.0]    1045
(100.0, 125.0]     916
(125.0, 150.0]     258
(200.0, 225.0]     212
(175.0, 200.0]     130
(150.0, 175.0]     116
(225.0, 250.0]     112
Name: Glucose, dtype: int64

In [21]:
# Query BMI + Stroke
stroke_yes["BMI"].value_counts(bins=[0,18.5,25,29.9,40,50,60,70,80,90,100])

(29.9, 40.0]      80
(25.0, 29.9]      73
(18.5, 25.0]      37
(40.0, 50.0]      17
(-0.001, 18.5]     1
(50.0, 60.0]       1
(60.0, 70.0]       0
(70.0, 80.0]       0
(80.0, 90.0]       0
(90.0, 100.0]      0
Name: BMI, dtype: int64

In [22]:
# Query BMI + No Stroke
stroke_no["BMI"].value_counts(bins=[0,18.5,25,29.9,40,50,60,70,80,90,100])

(29.9, 40.0]      1432
(25.0, 29.9]      1309
(18.5, 25.0]      1220
(-0.001, 18.5]     348
(40.0, 50.0]       312
(50.0, 60.0]        65
(60.0, 70.0]         9
(70.0, 80.0]         2
(90.0, 100.0]        2
(80.0, 90.0]         0
Name: BMI, dtype: int64

In [23]:
# Query Smoking + Stroke
stroke_yes["Smoking"].value_counts()

never smoked       84
formerly smoked    57
smokes             39
Unknown            29
Name: Smoking, dtype: int64

In [24]:
# Query Smoking + No Stroke
stroke_no["Smoking"].value_counts()

never smoked       1768
Unknown            1454
formerly smoked     779
smokes              698
Name: Smoking, dtype: int64

In [25]:
# Create DataFrame of people at least 40 years old
stroke_40 = stroke_df[stroke_df.Age >= 40]

stroke_40

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,9046,Male,67.0,no hypertension,heart disease,Yes,Private,Urban,228.69,36.6,formerly smoked,stroke
1,31112,Male,80.0,no hypertension,heart disease,Yes,Private,Rural,105.92,32.5,never smoked,stroke
2,60182,Female,49.0,no hypertension,no heart disease,Yes,Private,Urban,171.23,34.4,smokes,stroke
3,1665,Female,79.0,hypertension,no heart disease,Yes,Self-employed,Rural,174.12,24.0,never smoked,stroke
4,56669,Male,81.0,no hypertension,no heart disease,Yes,Private,Urban,186.21,29.0,formerly smoked,stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
4900,36901,Female,45.0,no hypertension,no heart disease,Yes,Private,Urban,97.95,24.5,Unknown,no stroke
4901,45010,Female,57.0,no hypertension,no heart disease,Yes,Private,Rural,77.93,21.7,never smoked,no stroke
4904,44873,Female,81.0,no hypertension,no heart disease,Yes,Self-employed,Urban,125.20,40.0,never smoked,no stroke
4906,37544,Male,51.0,no hypertension,no heart disease,Yes,Private,Rural,166.29,25.6,formerly smoked,no stroke
4907,44679,Female,44.0,no hypertension,no heart disease,Yes,Govt_job,Urban,85.28,26.2,Unknown,no stroke

In [30]:
# Create DataFrame of people at least 40 years old with a stroke
stroke_40_yes = stroke_40[stroke_40.Stroke == "stroke"]

stroke_40_yes

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,9046,Male,67.0,no hypertension,heart disease,Yes,Private,Urban,228.69,36.6,formerly smoked,stroke
1,31112,Male,80.0,no hypertension,heart disease,Yes,Private,Rural,105.92,32.5,never smoked,stroke
2,60182,Female,49.0,no hypertension,no heart disease,Yes,Private,Urban,171.23,34.4,smokes,stroke
3,1665,Female,79.0,hypertension,no heart disease,Yes,Self-employed,Rural,174.12,24.0,never smoked,stroke
4,56669,Male,81.0,no hypertension,no heart disease,Yes,Private,Urban,186.21,29.0,formerly smoked,stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
203,45535,Male,68.0,no hypertension,no heart disease,Yes,Private,Rural,233.94,42.4,never smoked,stroke
204,40460,Female,68.0,hypertension,heart disease,Yes,Private,Urban,247.51,40.5,formerly smoked,stroke
205,17739,Male,57.0,no hypertension,no heart disease,Yes,Private,Rural,84.96,36.7,Unknown,stroke
207,27153,Female,75.0,no hypertension,no heart disease,Yes,Self-employed,Rural,78.80,29.3,formerly smoked,stroke
208,43424,Female,78.0,no hypertension,no heart disease,Yes,Private,Rural,78.81,19.6,Unknown,stroke

In [31]:
# Create DataFrame of people at least 40 years old without a stroke
stroke_40_no = stroke_40[stroke_40.Stroke == "no stroke"]

stroke_40_no

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
210,30468,Male,58.0,hypertension,no heart disease,Yes,Private,Urban,87.96,39.2,never smoked,no stroke
212,56543,Female,70.0,no hypertension,no heart disease,Yes,Private,Rural,69.04,35.9,formerly smoked,no stroke
214,32257,Female,47.0,no hypertension,no heart disease,Yes,Private,Urban,210.95,50.1,Unknown,no stroke
215,52800,Female,52.0,no hypertension,no heart disease,Yes,Private,Urban,77.59,17.7,formerly smoked,no stroke
216,41413,Female,75.0,no hypertension,heart disease,Yes,Self-employed,Rural,243.53,27.0,never smoked,no stroke
...,...,...,...,...,...,...,...,...,...,...,...,...
4900,36901,Female,45.0,no hypertension,no heart disease,Yes,Private,Urban,97.95,24.5,Unknown,no stroke
4901,45010,Female,57.0,no hypertension,no heart disease,Yes,Private,Rural,77.93,21.7,never smoked,no stroke
4904,44873,Female,81.0,no hypertension,no heart disease,Yes,Self-employed,Urban,125.20,40.0,never smoked,no stroke
4906,37544,Male,51.0,no hypertension,no heart disease,Yes,Private,Rural,166.29,25.6,formerly smoked,no stroke
4907,44679,Female,44.0,no hypertension,no heart disease,Yes,Govt_job,Urban,85.28,26.2,Unknown,no stroke

In [32]:
# Query Ever Married + Stroke >= 40 years
stroke_40_yes["EverMarried"].value_counts()

Yes    182
No      21
Name: EverMarried, dtype: int64

In [33]:
# Query Ever Married + No Stroke >= 40 years
stroke_40_no["EverMarried"].value_counts()

Yes    2369
No      223
Name: EverMarried, dtype: int64